<h1>New Message</h1>
<%= turbo_stream_from :rooms %>

<turbo-frame id="new_message" target="_top">
  <%= form_with(model: [@room, @message], local: false, data: { turbo_frame: 'new_message' }) do |form| %>
    <div class="field">
      <%= form.text_field :content %>
      <%= form.submit "Send", data: { turbo_frame: 'new_message' } %>
    </div>
  <% end %>
</turbo-frame>
<%= link_to 'Back', @message.room %>